.minasona-icon {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.minasona-icon-container {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  gap: 1px;
}

.twitch-minasona-popover {
  position: fixed;
  width: 218px;
  height: 218px;
  background-color: #18181b; /* Matches Twitch Dark Mode */
  border: 1px solid #303032;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  z-index: 99999;

  /* Flexbox to center the image inside the 250x250 box */
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;

  /* Start hidden */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  pointer-events: none; /* Prevents interaction when hidden */
}

.twitch-minasona-popover.active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.twitch-minasona-popover img {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain; /* Keeps aspect ratio */
  opacity: 0;
}

.twitch-minasona-popover img.loaded {
  opacity: 1;
}

.loader {
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top-color: white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.petting-effect {
  position: absolute;
  pointer-events: none;
  top: 0px;
  z-index: 100000;
  width: 90%;
}
